<!DOCTYPE html>
<html lang="ru"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" >

	  <!--prefix="spring" uri="http://www.springframework.org/tags"-->
	  <!--prefix="c" uri="http://java.sun.com/jsp/jstl/core"-->



<body>
<p th:text="'Error: ' + ${error}"/>

	<div class="container">

		<h1>Error Page</h1>

		<p>${exception.message}</p>
		<!-- Exception: ${exception.message}.
		  	<c:forEach items="${exception.stackTrace}" var="stackTrace"> 
				${stackTrace} 
			</c:forEach>
	  	-->

	</div>

</body>
</html>