<!DOCTYPE html>
<html>
<head>
    <title> Администрирование </title>
</head>
<body bgcolor="#e0e0e0" background="/res/img/bg.png">
<h1 th:inline="text">Пользователь: [[${#httpServletRequest.remoteUser}]]</h1>
<h1>Администрирование и регистрация: </h1>
<p><a th:href="@{/admin/registerClient}"> Клиентов </a></p>
<p><a th:href="@{/admin/registerManager}"> Менеджеров </a></p>
<p> <a th:href="@{/home}"> Вернуться </a></p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>