<!DOCTYPE html>
<html>
    <head>
        <title> Payments </title>
    </head>
    <body bgcolor="#e0e0e0" background="/res/img/bg.png">
    e0e0" background="/templates/img/bg.png">
        <h1 th:inline="text">Пользователь: [[${#httpServletRequest.remoteUser}]]</h1>
        <h1> Работа с Payments </h1>
        <p>Поработать с  <a th:href="@{/payments/1}"> Payments № 1 </a></p>
        <p>Поработать с  <a th:href="@{/payments/2}"> Payments № 2 </a></p>
        <p>Поработать с  <a th:href="@{/payments/3}"> Payments № 3 </a></p>
        <p> <a th:href="@{/home}"> Вернуться </a></p>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти"/>
        </form>
    </body>
</html>