<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>./logs/server.log</file>

    <!--<append>true</append>-->
    <!--<prudent>true</prudent>-->

    <encoder>
            <pattern>%d{dd.MM.yy HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
    </encoder>
</appender>

    <root level="INFO">
    <appender-ref ref="FILE"/>
    </root>
 </configuration>
