<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Список клиентов </title>

</head>
<body bgcolor="#e0e0e0" background="/res/img/bg.png">

<div th:with="path=${path}, users=${users}">
    <h2> Клиенты: </h2>
    <table title="Клиенты">
        <thead>
        <tr>
            <th> ID </th>
            <th> Login </th>
            <th> Полное имя </th>
            <th> Доступ </th>
            <th colspan="2">
                <form action="/admin/registerClient/add">
                    <input type="submit" value="Добавить клиента"/>
                </form>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}"/>
            <td th:text="${user.username}"/>
            <td th:text="${user.fullname}"/>
            <td th:text="${user.enabled}"/>
            <td> <form th:action="'registerClient/'+${user.id}+'/edit'">
                <input type="submit" value="Правка"/> </form></td>
            <td> <form th:action="'registerClient/'+${user.id}+'/del'">
                <input type="submit" value="Удалить"/> </form></td>

        </tr>
        </tbody>
    </table>
</div>
<p/>
<table>
    <tbody>

    <td>
        <form action="/admin">
            <input type="submit" value=" к Администрированию "/>
        </form>
    </td>
    <td>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти"/>
        </form>
    </td>
    </tbody>
</table>

</body>
</html>