<!DOCTYPE html>
<html>
    <head>
        <title> Регистрация менеджеров </title>
    </head>
    <body bgcolor="#e0e0e0" background="/res/img/bg.png">
        <h1 th:inline="text">Потзователь: [[${#httpServletRequest.remoteUser}]]</h1>
        <h1> Администрирование. Регистрация менеджеров </h1>
        <p><a th:href= "@{/admin/registerManager/add}"> Добавить </a></p>
        <p><a th:href= "@{/admin/registerManager/del}"> Удалить </a></p>
        <p><a th:href="@{/admin/registerManager/edit}"> Редактировать </a></p>
        <p> <a th:href="@{/admin}"> Вернуться </a></p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти"/>
        </form>
    </body>
</html>